@using System.Collections.Generic
@model AspNet.Models.AboutMeViewModel

@{
    ViewData["Title"] = "Online Marketplace";
}

<link rel="stylesheet" href="marketplace.css" type="text/css"/>

<h1>@ViewData["Title"]</h1>
<h3>Welcome to my online marketplace!</h3>
<p>Here, you can find a variety of products and services for sale. Check out the categories below.</p>


